<section [formGroup]="formGroup">
   <!--
    <input type="text" [formControlName]="formControlNames.name">name
    <input type="text" [formControlName]="formControlNames.type">type
    <input type="text" [formControlName]="formControlNames.size">size
    <input type='text' [formControlName]="formControlNames.urlWeb">urlWeb
    <input type='text' [formControlName]="formControlNames.urlLocal">urlLocal
    <input type='text' [formControlName]="formControlNames.descripcion">  descripcion
   --> 
   <app-input [formControlName]='formControlNames.unadescripcion' [label]='descripcion' ></app-input>
    
</section>

